body {
  background-image: url("https://cdn.wallpapersafari.com/36/96/dAyhVu.jpg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: top;
  background-color: rgb(16, 166, 172); 
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

label {
  color: rgb(212, 28, 74);
  position: center;
  font-size: large;
  font-weight: bold;
}
button {
  background-color: aquamarine;
  color:rgb(226, 43, 180);
}

button:hover {
  background-color: rgb(146, 236, 248);
}

h2 {
  color: rgb(98, 10, 180);
}